.ticket{
    border: 1px solid white;
    height: 35px;
    border-radius: 5px;
 
}
.text{
    color: aliceblue;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}

.display{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ticketItem{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.congratulations{
    color: aqua;
}